In [21]:
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD
from sklearn.impute import SimpleImputer

import pandas as pd
data = pd.read_csv('C:/Users/82106/Desktop/데이터 분석 프로젝트 2/dacon 결측치 보간/open/data.csv')

In [22]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

# KNNImputer 인스턴스 생성, k=2로 설정
imputer = KNNImputer(n_neighbors=10)

In [23]:
# 'id' 칼럼 삭제
data.drop('id', axis=1, inplace=True)

In [24]:
# 결측치 보간 수행
data_imputed = imputer.fit_transform(data)

In [25]:
data = pd.read_csv('C:/Users/82106/Desktop/데이터 분석 프로젝트 2/dacon 결측치 보간/open/data.csv')
data[['Value']]=data_imputed

In [26]:
data

                 id      Value
0      SAMPLE_00000  27.636770
1      SAMPLE_00001  27.250818
2      SAMPLE_00002  27.154348
3      SAMPLE_00003  23.725770
4      SAMPLE_00004  23.725770
...             ...        ...
62624  SAMPLE_62624  23.725770
62625  SAMPLE_62625  23.725770
62626  SAMPLE_62626  21.465771
62627  SAMPLE_62627  21.562141
62628  SAMPLE_62628  21.465771

[62629 rows x 2 columns]