In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/82106/Desktop/데이터 분석 프로젝트 2/dacon 결측치 보간/open/data.csv')

In [2]:
# Spline 보간 수행 (3차 스플라인을 사용)
data['Value'] = data['Value'].interpolate(method='spline', order=3)

In [3]:
data

                 id      Value
0      SAMPLE_00000  27.636770
1      SAMPLE_00001  27.250818
2      SAMPLE_00002  27.154348
3      SAMPLE_00003  28.665265
4      SAMPLE_00004  28.661837
...             ...        ...
62624  SAMPLE_62624  18.167241
62625  SAMPLE_62625  18.100353
62626  SAMPLE_62626  21.465771
62627  SAMPLE_62627  21.562141
62628  SAMPLE_62628  21.465771

[62629 rows x 2 columns]

In [4]:
# 결과 저장
data.to_csv('C:/Users/82106/Desktop/데이터 분석 프로젝트 2/dacon 결측치 보간/open/submission.csv', index=False)